{% extends "layout.html" %}

{% block content %}

<main id="content" role="main" class="group search two">
  <form action="/search" method="get" accept-charset="utf-8" role="search" class="js-live-search-form">
		    

  	<div class="grid-row">
   		<div class="column-two-thirds"> 		
		    <div class="search-header">
		      	<div class="searchfield">
				  <fieldset class="search-input">
				    <label for="search-main">
				        <h1><span class="result-count " id="js-live-search-result-count" aria-hidden="true">
				        318 results found</span> for: <span class="visuallyhidden">“school meals”</span>
						</h1>
				    </label>



				    <div class="scoped-search_container">
				    	<div class="scoped-search_control">
				    		<span class="category">Education <span class="category_remove">&times;</span></span>
				    	</div>
				    	<div class="scoped-search_input">
						    <input type="search" name="q" value="school meals" id="search-main">
					    </div>
				    </div>



				  </fieldset>

				  <fieldset class="search-submit">
				    <button type="submit" class="button">Search</button>
				  </fieldset>

				</div>

		    </div>
		</div>
	</div><!--  End Row -->

  <hr>

    <div id="results" class="js-live-search-results-block">
      <div aria-live="assertive" class="js-aria-live-count visuallyhidden">750 found</div>



<div class="results-block">
  <div class="inner-block js-live-search-results-list">
    
      <ol class="results-list" id="js-live-search-results" start="1">
            <li>
              <h3><a href="/apply-free-school-meals">Apply for free <mark>school</mark> <mark>meals</mark></a></h3>
            
            
            
            
            
              <p>Check if your child can get free <mark>school</mark> <mark>meals</mark> - and find out how to apply on your local authority’s website</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/school-meals-healthy-eating-standards"><mark>School</mark> <mark>meals</mark> - healthy eating standards</a></h3>
            
            
            
            
            
              <p>Find out what the healthy eating standards in <mark>schools</mark> are</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/guidance/universal-infant-free-school-meals-guide-for-schools-and-local-authorities">UIFSM: guide for local authorities and <mark>schools</mark></a></h3>
            
            
            
            
            
              <p>How much funding <mark>schools</mark> and local authorities get to provide universal infant free <mark>school</mark> <mark>meals</mark> (UIFSM), and where <mark>schools</mark> can get advice.</p>
            
            
            
            
            </li>

            <li>
              <div class="panel panel-border-wide scoped-search-panel">
                  <h3 class="heading-medium">You’re currently searching in the Education category</h3>
                  <p>There are <span class="scoped-search-panel-results">285 results</span> for your keyword in other categories</p>
                  <a class="">See all results on Gov.uk</a>
              </div>
            </li>

            
            <li>
              <h3><a href="/government/statistics/free-school-meal-entitlement-and-child-poverty-in-england">Free <mark>school</mark> <mark>meal</mark> entitlement and child poverty in England</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 18 December 2013 </li>
                    <li> Official Statistics </li>
                    <li> <abbr title="Department for Work and Pensions">DWP</abbr> </li>
                </ul>
            
            
              <p>Statistics on free <mark>school</mark> <mark>meal</mark> entitlement in the current system and the impact on this of the announced extension to all infant <mark>school</mark> pupils</p>
            
            
            
            
            </li>


            <li>
              <h3><a href="/government/publications/implementing-the-free-school-meals-pilot">Implementing the free <mark>school</mark> <mark>meals</mark> pilot</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 26 July 2012 </li>
                    <li> Research and analysis </li>
                    <li> <abbr title="Department for Education">DfE</abbr> </li>
                </ul>
            
            
              <p>Report presenting the findings from an evaluation of the free <mark>school</mark> <mark>meals</mark> pilot between 2009 and 2011.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/statistics/school-meals-in-northern-ireland-2014-to-2015"><mark>School</mark> <mark>Meals</mark> in Northern Ireland 2014 to 2015</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 21 April 2015 </li>
                    <li> Official Statistics </li>
                    <li> Department of Education (Northern Ireland) </li>
                </ul>
            
            
              <p>The purpose of this release is to provide results of the latest annual data collection of the uptake of <mark>school</mark> <mark>meals</mark> in Northern Ireland.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/publications/ilf-school-meals-policy-equality-impact-assessment">ILF <mark>school</mark> <mark>meals</mark> policy: equality impact assessment</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 21 March 2014 </li>
                    <li> Impact assessment </li>
                    <li> <abbr title="Closed organisation: Independent Living Fund">ILF</abbr> </li>
                </ul>
            
            
              <p>Equality impact assessment for the Independent Living Fund's <mark>school</mark> <mark>meals</mark> policy.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/publications/free-school-meals-and-pupil-premium-registration-form">Free <mark>school</mark> <mark>meals</mark> and pupil premium: model form for <mark>schools</mark></a></h3>
            
            
            
                <ul class="attributes">
                    <li> 23 June 2014 </li>
                    <li> Form </li>
                    <li> <abbr title="Department for Education">DfE</abbr> </li>
                </ul>
            
            
              <p>Model form that <mark>schools</mark> can use to determine which children are eligible for free <mark>school</mark> <mark>meals</mark> and the pupil premium.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/statistics/school-meals-in-northern-ireland-2015-to-2016"><mark>School</mark> <mark>Meals</mark> in Northern Ireland 2015 to 2016</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 14 April 2016 </li>
                    <li> Official Statistics </li>
                    <li> Department of Education (Northern Ireland), <abbr title="Northern Ireland Statistics and Research Agency">NISRA</abbr> </li>
                </ul>
            
            
              <p>This statistical bulletin gives results of the annual data collection relating to uptake of <mark>school</mark> <mark>meals</mark> in Northern Ireland in 2015/16. </p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/publications/evaluation-of-the-free-school-meals-pilot-impact-report">Free <mark>school</mark> <mark>meals</mark> pilot: impact report</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 26 July 2012 </li>
                    <li> Research and analysis </li>
                    <li> <abbr title="Department for Education">DfE</abbr> </li>
                </ul>
            
            
              <p>Report presenting evidence on the effect of universal and extended access to free <mark>school</mark> <mark>meals</mark> on a range of pupil outcomes.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/statistics/free-school-meals-pupil-progression-to-higher-education">Free <mark>school</mark> <mark>meals</mark>: pupil progression to higher education</a></h3>
            
            
            
                <ul class="attributes">
                    <li>  3 November 2015 </li>
                    <li> Official Statistics </li>
                    <li> <abbr title="Closed organisation: Department for Business, Innovation &amp; Skills">BIS</abbr> </li>
                </ul>
            
            
              <p>The numbers of pupils with free <mark>school</mark> <mark>meal</mark> status in 2008 to 2009 who progress to higher education in 2012 to 2013.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/publications/pupils-on-free-school-meals-progressing-to-music-colleges">Pupils on free <mark>school</mark> <mark>meals</mark> progressing to music colleges</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 21 October 2013 </li>
                    <li> FOI release </li>
                    <li> <abbr title="Closed organisation: Department for Business, Innovation &amp; Skills">BIS</abbr> </li>
                </ul>
            
            
              <p>Number of children who were on free <mark>school</mark> <mark>meals</mark> at age 15, who progressed to UK music colleges.

</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/publications/pupils-not-claiming-free-school-meals-2013">Pupils not claiming free <mark>school</mark> <mark>meals</mark>: 2013</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 17 December 2013 </li>
                    <li> Research and analysis </li>
                    <li> <abbr title="Department for Education">DfE</abbr> </li>
                </ul>
            
            
              <p>Research looking at the most recent estimates of the number of pupils entitled to receive free <mark>school</mark> <mark>meals</mark> but who are not claiming.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/publications/changes-to-working-tax-credit-and-free-school-meals-entitlement">Changes to working tax credit and free <mark>school</mark> <mark>meals</mark> entitlement</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 19 September 2013 </li>
                    <li> FOI release </li>
                    <li> <abbr title="Department for Education">DfE</abbr> </li>
                </ul>
            
            
              <p>Entitlements to free <mark>school</mark> <mark>meals</mark> after the working tax credit changes in April 2012.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/publications/developing-quality-tuition-effective-practice-in-schools-free-school-meals">Developing quality tuition: effective practice in <mark>schools</mark> - free <mark>school</mark> <mark>meals</mark></a></h3>
            
            
            
                <ul class="attributes">
                    <li> 18 March 2011 </li>
                    <li> Guidance </li>
                    <li> <abbr title="Department for Education">DfE</abbr> </li>
                </ul>
            
            
              <p>This publication provides useful information on how to provide quality provision for pupils who receive free <mark>school</mark> <mark>meals</mark>.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/publications/universal-infant-free-school-meals-take-up-by-infant-pupils">Universal infant free <mark>school</mark> <mark>meals</mark>: take-up in autumn 2014</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 18 December 2014 </li>
                    <li> Transparency data </li>
                    <li> <abbr title="Department for Education">DfE</abbr> </li>
                </ul>
            
            
              <p>How many pupils in reception, year 1 and year 2 took a free <mark>school</mark> <mark>meal</mark> on 2 October 2014.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/statistics/national-reading-and-numeracy-tests-and-entitlement-to-free-school-meals-2016">National Reading and Numeracy Tests and entitlement to free <mark>school</mark> <mark>meals</mark>: 2016</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 28 February 2017 </li>
                    <li> Official Statistics </li>
                    <li> Welsh Government </li>
                </ul>
            
            
              <p>An annual report using pupil attainment data matched to pupil characteristics information from the annual <mark>school</mark> census to produce data on performance by free <mark>school</mark> <mark>meals</mark> in the National Reading and Numeracy tests in Wales.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/publications/the-reaction-of-the-british-government-to-jamie-olivers-tv-programme-on-school-meals">The reaction of the British government to Jamie Oliver's TV programme on <mark>school</mark> <mark>meals</mark></a></h3>
            
            
            
                <ul class="attributes">
                    <li> 15 July 2010 </li>
                    <li> FOI release </li>
                    <li> <abbr title="Department for Education">DfE</abbr> </li>
                </ul>
            
            
              <p>A request and disclosure of information on the reaction of the government to Jamie Oliver's TV programme on <mark>school</mark> <mark>meals</mark> and how this has changed the average menu in British <mark>schools</mark>.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/publications/pupils-not-claiming-free-school-meals">Pupils not claiming free <mark>school</mark> <mark>meals</mark></a></h3>
            
            
            
                <ul class="attributes">
                    <li> 19 November 2012 </li>
                    <li> Research and analysis </li>
                    <li> <abbr title="Department for Education">DfE</abbr> </li>
                </ul>
            
            
              <p>This research report presents estimates of the numbers and proportions of pupils who are entitled to receive free <mark>school</mark> <mark>meals</mark> (FSM) but are not claiming. This is new analysis carried out using Her Majesty's Revenue and Customs (HMRC) tax credits and benefits data alongside information from the Department for Education's <mark>school</mark> census.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/statistics/national-reading-and-numeracy-tests-and-entitlement-to-free-school-meals-2013-to-2015">National Reading and Numeracy Tests and entitlement to free <mark>school</mark> <mark>meals</mark>: 2013 to 2015</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 25 February 2016 </li>
                    <li> Official Statistics </li>
                    <li> Welsh Government </li>
                </ul>
            
            
              <p>An annual report using pupil attainment data matched to pupil characteristics information from the annual <mark>school</mark> census to produce data on performance by free <mark>school</mark> <mark>meals</mark> in the National Reading and Numeracy tests in Wales.</p>
            
            
            
            
            </li>
      </ol>
    
      <!-- <ul class="previous-next-navigation">
    
          <li class="next">
            <a href="/search?q=school+meals&amp;start=20">
              Next <span class="visuallyhidden">page</span>
              <span class="page-numbers">2 of 38</span>
            </a>
          </li>
      </ul> -->
  </div>
</div>

    </div>
  </form>
</main>




{% endblock %}


